html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  max-height: 50%;
}

button.drop {
	background-color:black;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:0px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
  position:absolute;
  bottom: 20px;
  left: 50%;
  top: 90%;
  /* margin-top: -90px; */
}
button.drop:hover {
background-color:grey;
}
button.drop:active {
  background-color:darkgrey;
  bottom: 17px;
}
