html, body {
  height: 100%;
  overflow: hidden;
  padding: 0;     /*Added*/
margin: 0;      /*Added*/
font-family: Courier;
}


body{
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

.dropIt {


        -webkit-border-radius: 57;
        -moz-border-radius: 57;
        border-radius: 57px;
        font-family: Courier;
        color: #ff7d7d;
        font-size: 28px;
        display: block;
        width:50%;
        background: #ffffff;
        padding: 10px 20px 10px 20px;
        border: solid #ff7d7d 2px;
        text-decoration: none;
        position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%,0%);


}


.back {

      -webkit-border-radius: 57;
      -moz-border-radius: 57;
      border-radius: 57px;
      font-family: Courier;
      color: #ff7d7d;
      font-size: 28px;
      display: block;
      width:50%;
      background: #ffffff;
      padding: 10px 20px 10px 20px;
      border: solid #ff7d7d 2px;
      text-decoration: none;
      position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,0%);
}
/* .comeHome:hover {
background-color:grey;
}
.comeHome:active {
  background-color:darkgrey;
  bottom: 17px;
} */


/* .survey{
  z-index:9999;
  height:100%;
  width:100vw;
  position:absolute;
  top:0px;
  left:0px;
  background-color: rgba(255, 255, 255, 0);
} */
.intro{
  z-index:9999;
  height:100%;
  width:100vw;
  position:absolute;
  top:0px;
  left:0px;
  background-color: #ff7d7d;
  font-family: Courier;
}
.pg2{
  z-index:9998;
  height:100%;
  width:100vw;
  position:absolute;
  top:0px;
  left:0px;
  background-color: #ff7d7d;
  font-family: Courier;
}
.intro-info{
  font-size: 16px;
  position: absolute;
  width: 75%;
  /* height:80%; */
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}
.pg2-info{
  font-size: 16px;
  position: absolute;
  width: 75%;
  /* height:80%; */
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}
input{
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
input[type=submit]{
  -webkit-border-radius: 57;
  -moz-border-radius: 57;
  border-radius: 57px;
  font-family: Courier;
  color: #ff7d7d;
  font-size: 28px;
  display: block;
  width:50%;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #ff7d7d 2px;
  text-decoration: none;
  position: absolute;
left: 50%;
top: 80%;
transform: translate(-50%,0%);
}
input[type=text]{
     padding: 10px;
     font-size: 20px;
     border-width: 2px;
     border-color: #ff7d7d;
     background-color: #FFFFFF;
     color: #ff7d7d;
     border-style: solid;
     border-radius: 5px;
     box-shadow: 0px 0px 0px rgba(66,66,66,.75);
     text-shadow: 0px 0px 0px rgba(66,66,66,.75);
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 17.2px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 2px solid #ff7d88;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #ffcbcb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 2px solid #ff7d88;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #ffcbcb;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 15.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #808080;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 2px solid #ff7d88;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #ffcbcb;
  cursor: pointer;
  height: 15.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
input[type=image]{
  position: absolute;
  left: 10%;
  top: 5%;
  transform: translate(-50%,0%);
}
.control {
    font-family: Courier;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 2px solid #ff7d7d;
}
.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffffff;
}

.control input:checked ~ .control_indicator {
    background: #ffffff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #ff7d7d;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

.int-name{
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%,0%);
}
.q1{
  z-index:9997;
  height:100%;
  width:100vw;
  position:absolute;
  top:0px;
  left:0px;
  background-color: #ff9191;

}
.q1-info{
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
.q1-boxes{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.q2{
  z-index:9996;
  height:100%;
  width:100vw;
  position:absolute;
  top:0px;
  left:0px;
  background-color: #ffa4a4;

}
.q2-info{
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}

.image-select{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-around;
  width: 90%;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.q2-img-padding{
  margin: 10px;
}

.q3{
  z-index:9995;
  height:100%;
  width:100vw;
  position:absolute;
  top:0px;
  left:0px;
  background-color: #ffb8b8;
}
.q3-info{
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
.q3-boxes{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.q4{
  z-index:9994;
  height:100%;
  width:100vw;
  position:absolute;
  top:0px;
  left:0px;
  background-color:#ffcbcb;

}
.q4-info{
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
.question4{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.q5{
  z-index:9993;
  height:100%;
  width:100vw;
  position:absolute;
  top:0px;
  left:0px;
  background-color: #ffdfdf;

}
.q5-info{
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
textarea{
  font-size: 20px;
  border-width: 2px;
  border-color: #ff7d7d;
  background-color: #FFFFFF;
  color: #ff7d7d;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0px 0px 0px rgba(66,66,66,.75);
  text-shadow: 0px 0px 0px rgba(66,66,66,.75);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height:50%;
  width: 75%;
}
.exit{
  z-index:9992;
  height:100%;
  width:100vw;
  position:absolute;
  top:0px;
  left:0px;
  background-color: #fff3f3;

}
.exit-info{
  font-size: 16px;
  position: absolute;
  width: 75%;
  /* height:80%; */
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}
.searchingText{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
.foundText{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
.dropText{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
.welcomeHomeText{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
.yourDropText{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
